.navPicContainer {
  display: grid;
  place-items: center;
  width: fit-content;
  isolation: isolate;
  margin-right: 0.9rem;
}


.navPicContainer > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}


.pie {
  animation: pie_spin infinite 20s linear;
}

@keyframes pie_spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

