.parallex_container {
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(180deg, transparent, #9be15d, #505064 );
  margin-top: 2rem;
  overflow: hidden;
  isolation: isolate;
}

h1 {
  font-size: clamp(2rem, 3vw, 5rem);
}

.parallex_container > div {
  background-size: cover;
  background-position: bottom;
  position: absolute;
  height: 100%;
  width: 100%;
}

.moutain {
  background: url("/public/images/mountains.png");
  z-index: 3;
}

.planets {
  background: url("/public/images/planets.png");
  z-index: 2;
}

.moon {
  background: url("/public/images/stars.png");
  z-index: 1;
}
