.titleContainer {
  /* border: var(--border);   */
  width: fit-content;
  isolation: isolate;
}

.titleContainer h1 {
  color: var(--colour-green);
  font-size: clamp(0.875rem, 2vw + 0.25rem, 1.75rem);
}

.underline {
  width: 1rem;
  height: 1rem;
  background-image: var(--gradient-primary);
  position: relative;
  border-radius: 50%;
  margin: 0.4rem 0 0.9rem 0;
}

.underline::after {
  content: "";
  position: absolute;
  width: 700%;
  height: 0.05rem;
  background-image: var(--gradient-primary);
  left: 80%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}