.paragraph {
  height: 9rem;
  width: fit-content;
}

@media (width <= 64rem) {
  .paragraph {
    height: clamp(6rem, 3vh, 5rem);
  }
}
@media (width <= 37.5rem) {
  .paragraph {
    height: 5.5rem;
  }
}